/* custom CSS rules */
#map {
  background: #687E8C;
}

h1 {
  color:'#004A8B';
  font-size: 2em;
}
/* display none for layout but be careful of license restrictions */
.mapbox-logo,
.leaflet-control-attribution {
  display: none;
}

.legend-large,
.legend-small {
  border-radius: 50%;
  border-color:#182E59;
  border-width: 1.5px;
  
}

hr.small,
hr.large {
  width: 83px;
  position: absolute;
  top: -8px;
  left: 55px;
  border: 1px dashed #ccc; /* overwrite assembly.css rule */
  margin-top: 8px; /* overwrite assembly.css rule */
}

#info {
  z-index: 1000;
}

.births {
  color: #BF6B7B;
}

.deaths {
  color:#1F3D74;
}

body {
  font-family: 'Kadwa', serif;
} /* This overrides the Assembly.css for the body font rule
